<!DOCTYPE html>
<html lang="ru">
    <head>
        <%- include ../partials/header %>
    </head>
    <body id="body" data-token="<%= accessToken %>" data-user="<%= USER_ID %>">
    <header>
        <%- include ../partials/nav %>
    </header>

    <main class="container pt-5">
        <h1>Лабораторные 5-6: Самый популярный друг</h1>

        <div class="card mt-4">
            <div class="card-body">
                <h5 class="card-title">Задание</h5>
                <p class="card-text">
                    Создать HTML страницу с встроенным скриптом, который будет среди друзей ваших друзей онлайн находить аккаунт,
                    у которого максимальное количество друзей
                </p>
                <hr />

                <h6 class="card-subtitle mb-2 text-muted mt-4">Лабораторная 5: Вариант с коллбеками</h6>
                <p class="card-text">
                    Ищем у пользователя: <%= USER_ID %>
                    <a href="https://vk.com/id<%= USER_ID %>" target="_blank" rel="noreferrer noopener">Ссылка на пользователя</a>
                </p>
                <button style="max-width: 500px" class="btn btn-primary" type="button" id="getMostPopularFriendCallback">Найти самого популярного друга онлайн</button>
                <div class="mt-3 mb-5">
                    <span>Самый популярный друг онлайн: </span>
                    <span id="mostPopularFriendCallback" style="display: none;" class="alert alert-primary"></span>
                </div>
                <hr />

                <h6 class="card-subtitle mb-2 text-muted mt-4">Лабораторная 6: Вариант с промисами</h6>
                <p class="card-text">
                    Ищем у пользователя: <%= USER_ID %>
                    <a href="https://vk.com/id<%= USER_ID %>" target="_blank" rel="noreferrer noopener">Ссылка на пользователя</a>
                </p>
                <button style="max-width: 500px" class="btn btn-primary" type="button" id="getMostPopularFriend">
                    Найти самого популярного друга онлайн
                </button>
                <div class="mt-3">
                    <span>Самый популярный друг онлайн: </span>
                    <span id="mostPopularFriend" style="display: none;" class="alert alert-primary"></span>
                </div>
                <hr />
            </div>

            <div class="card-footer">
                <span class="mr-3">Код:</span>
                <a
                        href="https://github.com/Puzanira/labs_ist/blob/main/public/javascripts/lab5.js"
                        rel="noreferrer noopener"
                        class="card-link mt-4"
                        target="_blank"
                >
                    JS
                </a>
                <a
                        href="https://github.com/Puzanira/labs_ist/blob/main/views/pages/lab5.ejs"
                        rel="noreferrer noopener"
                        class="card-link mt-4"
                        target="_blank"
                >
                    HTML
                </a>
            </div>
        </div>
    </main>

    <script src="javascripts/api.js" type="text/javascript"></script>
    <script src="javascripts/vk.js" type="text/javascript"></script>
    <script src="javascripts/lab5.js" type="text/javascript"></script>
    </body>
</html>
